.field {
  background: green;
  height: 100%;

  border: 10px solid #a06213;
  border-radius: 20px;

  &__left {
    color: white;
    padding-top: 10px;
  }

  &__center {
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 20px;
  }

  &__right {
    padding-top: 10px;
    h4 {
      text-align: center;
    }
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}

.total {
  width: 100%;
  text-align: center;
  padding: 15px 0;
  font: bold 35px "Arial";
}

.rounds {
  margin-bottom: 20px !important;

  &-item {
    padding: 2px 0;

    &.active .num {
      border-color: black;
    }

    .num {
      display: inline-block;
      width: 35px;
      text-align: center;
      background: darkgoldenrod;
      border-radius: 5px;
      border: 2px solid transparent;
    }

    .value {
      display: inline-block;
      float: right;
      line-height: 32px;

      &.hide {
        display: none;
      }
    }
  }
}

.combinations {
  & .text {
    position: relative;
    top: -3px;
    padding: 0 2px;
    font-size: 20px;
  }

  li {
    span { display: inline-block;}
    .cost { float: right;  line-height: 25px; }
  }
}

.birdcage {
  height: 0;
  width: 150px;
  border-top: 200px solid gray;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  position: absolute;
  bottom: 30px;
  transform: rotate(25deg);
}

.ztable {
  &-row {
    margin-bottom: 5px;
    height: var(--ztable-cell-size) !important;

    .ztable-cell {
      background-size: calc(var(--ztable-cell-size) * 3) !important;
      &.d1 { background-position: 250px 200px; }
      &.d2 { background-position: 200px 200px; transform: rotate(180deg); }
      &.d3 { background-position: 400px 400px; transform: rotate(-90deg); }
      &.d4 { background-position: 651px 400px; }
      &.d5 { background-position: 0 350px; transform: rotate(180deg); }
      &.d6 { background-position: 0 250px; transform: rotate(-90deg); }
    }

    &.current .ztable-cell {
      position: relative;
      left: 0;
      top: 0;
      transform: rotate(0deg);
    }
  }

  &-cell {
    width: var(--ztable-cell-size) !important;
    height: var(--ztable-cell-size) !important;
    background: rgba(255, 255, 255, 0.5);
    display: inline-block;
    margin-right: 5px !important;
    border-radius: 15%;

    &.hide {
      display: none;
    }

    &.active {
      box-shadow: 0 0 15px #fff700;
    }
  }
}

// Dices Global
//.dice-theme {
//  &-white-dots { .d1,.d2,.d3,.d4,.d5,.d6 { background: url('../../../assets/dices/d6-white-dots.png');background-size: calc(var(--dice-size) * 3); } }
//  &-white { .d1,.d2,.d3,.d4,.d5,.d6 { background: url('../../../assets/dices/d6-white.png'); } }
//  &-yellow-dots { .d1,.d2,.d3,.d4,.d5,.d6 { background: url('../../../assets/dices/d6-yellow-dots.png'); } }
//  &-yellow { .d1,.d2,.d3,.d4,.d5,.d6 { background: url('../../../assets/dices/d6-yellow.png'); } }
//  &-black-dots { .d1,.d2,.d3,.d4,.d5,.d6 { background: url('../../../assets/dices/d6-black-dots.png'); } }
//  &-black { .d1,.d2,.d3,.d4,.d5,.d6 { background: url('../../../assets/dices/d6-black.png'); } }
//  &-blue-dots { .d1,.d2,.d3,.d4,.d5,.d6 { background: url('../../../assets/dices/d6-blue-dots.png'); } }
//  &-blue { .d1,.d2,.d3,.d4,.d5,.d6 { background: url('../../../assets/dices/d6-blue.png'); } }
//  &-blue-dots { .d1,.d2,.d3,.d4,.d5,.d6 { background: url('../../../assets/dices/d6-blue-dots.png'); } }
//  &-blue { .d1,.d2,.d3,.d4,.d5,.d6 { background: url('../../../assets/dices/d6-blue.png'); } }
//  &-green-dots { .d1,.d2,.d3,.d4,.d5,.d6 { background: url('../../../assets/dices/d6-green-dots.png'); } }
//  &-green { .d1,.d2,.d3,.d4,.d5,.d6 { background: url('../../../assets/dices/d6-green.png'); } }
//  &-red-dots { .d1,.d2,.d3,.d4,.d5,.d6 { background: url('../../../assets/dices/d6-red-dots.png'); } }
//  &-red { .d1,.d2,.d3,.d4,.d5,.d6 { background: url('../../../assets/dices/d6-red.png'); } }
//  &-gray-dots { .d1,.d2,.d3,.d4,.d5,.d6 { background: url('../../../assets/dices/d6-normal-dots.png'); } }
//  &-gray { .d1,.d2,.d3,.d4,.d5,.d6 { background: url('../../../assets/dices/d6-normal.png'); } }
//}

.d1,.d2,.d3,.d4,.d5,.d6 {
  content: ' ';
  width: var(--dice-size);
  height: var(--dice-size);
  margin-right: 2px;
  border-radius: 4px;
  background: url('../../../assets/dices/d6-white-dots.png');
  background-size: calc(var(--dice-size) * 3);
  z-index: 100;
}

.d1 { background-position: 340px 680px; }
.d2 { background-position: 680px 680px; transform: rotate(180deg); }
.d3 { background-position: 340px 340px; transform: rotate(-90deg); }
.d4 { background-position: 680px 340px; }
.d5 { background-position: 0 680px; transform: rotate(180deg); }
.d6 { background-position: 0 340px; transform: rotate(-90deg); }

button.action {
  width: 100%;
  border: none;
  border-radius: 5px;
  text-align: center;
  outline: none;
  padding: 3px 0;
  background: darkcyan;
  color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  font-weight: bold;

  &:not(.disabled):active {
    position: relative;
    left: 1px;
    top: 1px;
  }

  &.disabled {
    opacity: 0.5;
    box-shadow: none;
    cursor: initial;
  }
}

.farkle-label {
  position: absolute;
  z-index: 1000;
  left: calc(50% - 150px);
  top: 45%;
  text-align: center;
  display: inline-block;
  width: 300px;
  font: bold 50px Arial;
}
