@import "~bootstrap/dist/css/bootstrap.css";

:root {
  --viewTable-cell-size: 50px;
  --dice-size: 20px;
  --dice-sprite-size: 340px;

  // Dices Themes
  --theme-dice-white-dots: url(./assets/dices/d6-white-dots.png);
  --theme-dice-white: url(./assets/dices/d6-white.png);
  --theme-dice-yellow-dots: url(./assets/dices/d6-yellow-dots.png);
  --theme-dice-yellow: url(./assets/dices/d6-yellow.png);
  --theme-dice-black-dots: url(./assets/dices/d6-black-dots.png);
  --theme-dice-black: url(./assets/dices/d6-black.png);
  --theme-dice-blue-dots: url(./assets/dices/d6-blue-dots.png);
  --theme-dice-blue: url(./assets/dices/d6-blue.png);
  --theme-dice-green-dots: url(./assets/dices/d6-green-dots.png);
  --theme-dice-green: url(./assets/dices/d6-green.png);
  --theme-dice-red-dots: url(./assets/dices/d6-red-dots.png);
  --theme-dice-red: url(./assets/dices/d6-red.png);
  --theme-dice-gray-dots: url(./assets/dices/d6-normal-dots.png);
  --theme-dice-gray: url(./assets/dices/d6-normal.png);
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  background: aqua;
}

ul {
  margin: 0;
  padding: 0;
}

.wrapper {
  &__global {
    height: 100%;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
  }
}

.logo {
  max-width: 256px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font: bold 70px "Comic Sans MS";
  color: white;
  border: 10px solid black;
  border-radius: 20px;
  line-height: 1.1;
  background: #de3e0b;
  text-shadow: 2px 4px black;
  box-shadow: 1px 1px 10px black;

  &__small {
    font-size: 30px;
    max-width: 120px;
    border-width: 5px;
    border-radius: 10px;
    line-height: 1.2;
  }
}

.menu {
  a {
    text-decoration: none;
  }
}
