@import "~bootstrap/dist/css/bootstrap.css";

:root {
  --viewTable-cell-size: 50px;
  --dice-size: 20px;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  background: aqua;
}

ul {
  margin: 0;
  padding: 0;
}

.wrapper {
  &__global {
    height: 100%;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
  }
}

.logo {
  max-width: 256px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font: bold 70px "Comic Sans MS";
  color: white;
  border: 10px solid black;
  border-radius: 20px;
  line-height: 1.1;
  background: #de3e0b;
  text-shadow: 2px 4px black;
  box-shadow: 1px 1px 10px black;

  &__small {
    font-size: 30px;
    max-width: 120px;
    border-width: 5px;
    border-radius: 10px;
    line-height: 1.2;
  }
}

.menu {
  a {
    text-decoration: none;
  }
}

.myModal {
  width: 100%;
  max-width: 450px;
  min-height: 300px;
  background: #fff;
  border-radius: 15px;

  &__bg {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: grid;
    place-items: center;
  }

  &-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
    padding: 0 5px 5px;
    border-bottom: 1px solid lightblue;

    button {
      border: none;
      padding: 0;
      outline: none;
    }
  }

  &-body {
    height: 270px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 15px 15px;

    p {
      overflow-y: auto;
    }

    &__control {
      text-align: right;
    }
  }
}
