.menu-main {
  width: 100%;
  margin: 50px auto;
  list-style-type: none;

  &__item {
    text-align: center;
    max-width: 300px;
    background: blue;
    color: white;
    margin: 15px auto;
    padding: 15px 0;
    font-size: 35px;
    border-radius: 15px;
    border: 5px solid transparent;

    &:hover {
      cursor: pointer;
      border-color: white;
    }
  }
}
